.fw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.fw-menu {
  position: absolute;
  right: 1%;
  top: 20%;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
}

.fw-menu-content {
  display: flex;
  flex-direction: column;
}

.fw-menu-item {
  display: flex;
  justify-content: space-around;
  margin: 3px 0;
}

.fw-menu-item input[type="text"],
.fw-menu-item input[type="number"] {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 8px;
  width: 100px;
  box-sizing: border-box;
  font-size: 14px;
}

.fw-menu-item input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

.fw-apply-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.fw-label {
  position: absolute;
  top: 65%;
  left: 15%;
  font-size: 28px; /* Bigger text */
  font-weight: bold;
  color: #000000; /* Black text */
  text-align: center;
  transform-origin:center;
  transform: skew(3deg, 50deg) rotate(-70deg);;
}


.fw-spin-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.fw-wheel-container {
  position: relative;
  width: 750px;
  height: 750px;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 18px solid #000000;
}

.fw-wheel {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fw-triangle-icon {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%) rotate(90deg);
  width: 20px;
  height: 20px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 50px solid black;
}